.tipo{
    display: block;
}


.h2{
    padding: 5px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}


.tipo-bloco{
    font-size: 19px;
    width: max-content;
    min-width: 80px;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}


.div-stats{
    height: 50%;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 30px;
}


.progress-bar{
    --progress: ;
    height: 15px;
    padding: 3px;
    background-color: #ccc;
    display: flex;
    border-radius: 20px;
    max-width: 90%;
    width: 90%;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  
.progress-bar::before{
    content: "";
    /* Por enquanto colocamos
      uma largura e uma cor
      com valores fixos
      */
      width: var(--progress);
      max-width: 300px;
      background-color: rgb(103, 137, 230);
      border-radius: 20px;
}

#bug{
    background-color: #32E43C;
}

#dark{
    background-color: #414641;
}

#dragon{
    background-color: #094C81;
}

#electric{
    background-color: #E5EC01;
}

#fairy{
    background-color: #E24C91;
}

#fighting{
    background-color: #EA2843;
}

#fire{
    background-color: #FF0202;
}

#flying{
    background-color: #90B9D1;
}

#ghost{
    background-color: #203A54;
}

#grass{
    background-color: #036006;
}

#ground{
    background-color: #58432B;
}

#ice{
    background-color: #00FFFF;
}

#normal{
    background-color: #8F9999;
}

#poison{
    background-color: #830DB3;
}

#psychic{
    background-color: #5D7C05;
}

#rock{
    background-color: #9D8149;
}

#steel{
    background-color: #499D83;
}

#water{
    background-color: #3A87F0;
}

.status{
    margin-left: 20px;
}

.setas-pokemon{
    display: none;
}

